extends ../layout

block pagecontent 
    .row 
        h2.text-danger Are you sure you want to delete this record?
    .row 
        h2.text-info=book.id
        h2.text-info=book.name
        h2.tex-info= book.isbn
        h2.tex-info= book.author
        h2.tex-info= book.pages

    .row
        form(method="post")
            button.btn.btn-danger(type="submit") Delete
            | | &nbsp
            a(href='/employees') Back to Books