extend ../layout

block pagecontent
    ul.list-group 
        li.list-group-item 
            a(href="/employees") Back to Books

    .row 
        .col-sm-offset-3.col-sm-6
            form(method="post")
                legend.text-center Edit Book Information
                .form-group 
                    label(for="bookid") Book Id 
                    input#bookid.form-control(type="number", placeholder="Enter Book Id", name="bookid", value=book.id)
                .form-group 
                    label(for="bookname") Book Name 
                    input#bookname.form-control(type="text", placeholder="Enter Book Name", name="bookname", value=book.name)
                .form-group 
                    label(for="bookisbn") Book Isbn 
                    input#bookname.form-control(type="text", placeholder="Enter Book Isbn", name="bookisbn", value=book.isbn)
                .form-group 
                    label(for="bookauthor") Book Author 
                    input#bookname.form-control(type="text", placeholder="Enter Book Author", name="bookauthor", value=book.author)
                .form-group 
                    label(for="bookpages") Book Pages
                    input#bookname.form-control(type="number", placeholder="Enter Book Pages", name="bookpages", value=book.pages)
                .row 
                    .col-sm-6 
                        button.btn.btn-block.btn-primary(type="submit") Submit
                    .col-sm-6 
                        button.btn.btn-block.btn-default(type="reset") Reset